<div class="row justify-content-center">
	<div class="col-lg-5 mt-4">
<h2 class="text-center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email,placeholder: "Enter Your Email", class: "form-control mt-5", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions text-center mt-3">
    <%= f.submit "Send me reset password instructions", class: "btn btn-secondary" %>
  </div>
<% end %>
<div class="text-center mt-4">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
